[Unit]
Description=FindMyBarBotRustEdition
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
User=danila
Type=simple
EnvironmentFile=/home/danila/findmybarbot_re/.env
WorkingDirectory=/home/danila/findmybarbot_re/
ExecStart=/home/danila/.cargo/bin/findmybarbot_re

[Install]
WantedBy=multi-user.target